ul {
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
#personal-info ul {
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid ;
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  li {
    padding: 0.5rem 1rem;
    
  }
  #personal-info li{
    padding: 0;
  }
  
  li:last-child {
    border-bottom: none;
  }
  